h1{
    color: rgb(78, 8, 8);
}

h3{
    color: rgb(9, 11, 165);
}

h2{
    color:rgb(114, 12, 29);
}

p{
    color: rgb(63, 62, 62);
}

li{
    color: rgb(114, 12, 29);
}

  
  header {
    background-image: url(src="Imagenes/fondo.jpg");
    padding: 20px;
    color: rgb(78, 8, 8);
  }
  
  /* Resto de estilos... */


  body {
    background-image: url("Imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: inherit;
    filter: blur(0.1px);
  }
  
  /* Estilos adicionales para el contenido de la página */

  .logo {
    transition: transform 0.3s ease-in-out;
  }
  
  .logo:hover {
    transform: scale(1.2);
  }

  .foto-miembro {
    transition: transform 0.3s ease-in-out;
  }
  
  .foto-miembro:hover {
    transform: scale(1.2);
  }

  
  .foto-miembro {
    border-radius: 25%;
  }
  
  .redes-sociales {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .redes-sociales a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .redes-sociales img {
    width: 30px;
    height: 30px;
  }
  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #foto {
    width: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
  #foto:hover {
    transform: rotate(360deg);
  }
  