

header {
	position: relative;

}

.redes-sociales {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	margin: 10px;
}

.redes-sociales a {
	margin-right: 10px;
}

nav {
	position: relative;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
	background-color: #f9f9f9;
	padding: 20px;
	box-sizing: border-box;
}


nav.active {
	height: 150px; /* Altura deseada */
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: rgb(145, 91, 91);
}

/* en esta seccion se dara formato de tajeta con sus efecto de animacion a las fotos de perfil */

.foto-miembro {
	border: 1px solid #5125a3;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(69, 57, 172, 0.1);
	padding: 10px;
	/* Otros estilos adicionales para la tarjeta */
	overflow: hidden; /* Para ocultar cualquier contenido que se salga de la tarjeta */
	transition: transform 0.3s; /* Transición para la animación */
  }
  
  .foto-miembro img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transition: transform 0.3s; /* Transición para la animación */
  }
  
  .foto-miembro:hover {
	transform: scale(1.2); /* Aumenta el tamaño en un 5% */
  }
  
  .foto-miembro:hover img {
	transform: scale(1.5); /* Aumenta el tamaño en un 10% */
  }
  
  .card {
	width: 300px;
	background-color: #b37f7f80;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foto-miembro {
	border-radius: 50%;
}

.capa {
	margin-top: 20px;
}

h1{
	color: antiquewhite;
}

h2{
	color: antiquewhite;
}

h3 {
	margin-bottom: 10px;
	color: antiquewhite;
}

h4 {
	margin-bottom: 5px;
	color: antiquewhite;
}

p {
	margin-bottom: 15px;
	color: antiquewhite;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin-right: 10px;
}

a {
	color: #000;
	text-decoration: none;
}

.container {
	display: flex;
}


.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*en esta seccion se dara efecto de desplazamiento a la pagina con la opcion selecionada en el banner*/

html {
	scroll-behavior: smooth;
	
}


/*aca le damos fondo a la pagina*/
  body {
    background-image: url('Imagenes/fondoweb\ \(2\).png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
  }


  /*aca le damos animacion a el banner de navegacon*/

  .nav ul li a {
    transition: color 0.3s ease;
	
  }

  .nav ul li a:hover {
    color: rgb(165, 84, 241); /* Cambia el color a tu preferencia */
	font-size: 1.5em; /* Ajusta el valor para el nivel de agrandamiento deseado */
	
  }




  



