

header {
	position: relative;

}

.redes-sociales {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	margin: 10px;
}

.redes-sociales a {
	margin-right: 10px;
}

nav {
	position: relative;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease-in-out;
	background-color: #280e8600;
	padding: 20px;
	box-sizing: border-box;
}


nav.active {
	height: 150px; /* Altura deseada */
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

/* en esta seccion se dara formato de tarjeta con sus efecto de animacion a las fotos de perfil */

.foto-miembro {
	border: 1px solid #5125a3;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(69, 57, 172, 0.1);
	padding: 10px;
	/* Otros estilos adicionales para la tarjeta */
	overflow: hidden; /* Para ocultar cualquier contenido que se salga de la tarjeta */
	transition: transform 0.3s; /* Transición para la animación */
  }
  
  .foto-miembro img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	transition: transform 0.3s; /* Transición para la animación */
  }
  
  .foto-miembro:hover {
	transform: scale(1.2); /* Aumenta el tamaño en un 5% */
  }
  
  .foto-miembro:hover img {
	transform: scale(1.5); /* Aumenta el tamaño en un 10% */
  }
  
  .card {
	width: 300px;
	background-color: #b37f7f80;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.foto-miembro {
	border-radius: 50%;
}

.capa {
	margin-top: 20px;
}

h1{
	color: antiquewhite;
}

h2{
	color: antiquewhite;
}

h3 {
	margin-bottom: 10px;
	color: antiquewhite;
}

h4 {
	margin-bottom: 5px;
	color: antiquewhite;
}

p {
	margin-bottom: 15px;
	color: antiquewhite;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin-right: 10px;
}

a {
	color: #000;
	text-decoration: none;
}

.container {
	display: flex;
}


.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*en esta seccion se dara efecto de desplazamiento a la pagina con la opcion selecionada en el banner*/

html {
	scroll-behavior: smooth;
	
}


/*aca le damos fondo a la pagina*/
  body {
    background-image: url('Imagenes/fondoweb\ \(2\).png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
  }


  /*aca le damos animacion a el banner de navegacon*/

  .nav ul li a {
    transition: color 0.3s ease;
	
  }

  .nav ul li a:hover {
    color: rgb(165, 84, 241); /* Cambia el color a tu preferencia */
	font-size: 1.5em; /* Ajusta el valor para el nivel de agrandamiento deseado */
	
  }




  /*en esta seccion le damos efectos a los iconos de herramientas*/

  .foto-miembro {
	cursor: pointer;
  }
  
  .options {
	display: none;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  
  .options.visible {
	display: block;
	opacity: 1;
	max-height: 500px; /* Ajusta esta altura máxima según sea necesario */
  }
  
  .options ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .options li {
	padding: 5px 0;
  }
  
contacto{
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 50px 55px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	text-align: center;
	width: 340px;

}

.input-group{
	display: flex;
	flex-direction: column;
}

label{
	color: 283629;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 15px;
}

input, textarea {
	padding: 17px 25px;
	border-radius: 25px;
	margin-bottom: 20;
	background-color: #EDFFF0;
	border: 2px solid #F0FAF1;
	color: #283629;
	outline: none;

}

input::placeholder, textarea::placeholder{
	color: #b5cab6;
}

.form-txt {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	text-align: center;

}

.form-txt a {
	color: #76b28e;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

.btn{
	font-size: 16px;
	color: #FFFFFF;
	border: 0;
	border-radius: 25px;
	background-color: #51D94C;
	box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
	cursor: pointer;
}

.btn:hover{
	background-color: #12b10c;
	

}